<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Добавление записи</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
    </head>
    <body>
        <div class="container">
            <a href="/" class="btn back-btn">Вернуться на главную</a>
            <form action="/add" method="POST" class="task-form">
                <div class="form-group">
                    <label for="description">Введите название задачи</label>
                    <br>
                    <textarea name="description" id="description"></textarea>
                </div>
                <div class="form-grouop">    
                    <label>Введите дату дедлайна</label><input name="deadline" type="date">
                    <button class="btn-submit-btn" type="submit">Отправить</button>
            </form>
            {% for m in get_flashed_messages() %}
                <div class="message">{{m}}</div>
            {% endfor %}
        </div>
    </body>
</html>