<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Авторизация</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
    </head>
    <body>
        <a href="/" class="btn back-btn">Вернуться на главную</a>
        <form action="/login" method="POST">
            <label>Логин</label><input name="email_login">
            <br>
            <label>Пароль</label><input name="password_login">
            <br>
            <input type="checkbox" name="remember"><label>Сохранить аккаунт?</label>
            <br>
            <button>Отправить</button>
        </form>
        {% for m in get_flashed_messages() %}
            <div class="message">{{m}}</div>
        {% endfor %}
    </body>
</html>