<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Главная страница</title>
    </head>
    <body>
        {% if users %}
            <table border="2px">
                <thead>
                    <tr>
                        <th>Имя</th>
                        <th>Возраст</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in users %}
                        <tr>
                            <td>{{u[0]}}</td>
                            <td>{{u[1]}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h1>Нету ни одного пользователя</h1>
        {% endif %}
        <a href="/add">Добавить запись</a>
    </body>    
</html>